parameters:
    paths:
        - src
    fileExtensions:
        - php
        - phtml
    level: max
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
    excludes_analyse:
    bootstrapFiles:

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
